#menu_radio{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width:100vw;
  height:100%;
  background-size: cover;
}
.carte_menu_radio{
  width:24.4vw;
  height:24.4vw;
  border-radius: 55px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.16);
  margin:5%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--vert_clair4);
}

#radio_avantages{
  background-size: cover;
  height:92vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container_avantages{
  background-color: rgba(255, 255, 255, 0.76);
  height:80%;
  width:85%;
}
#container_avantages .avantage:nth-child(odd){
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.avantage{
  width:100%;
  margin:3% 0;
}
.avantage>div{
  background-color: #fff;
  margin:0; 
  height:8.6vh;
  width:95%;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  padding:0 2.5%;
}
#container_avantages .avantage:nth-child(odd)>div{
  justify-content: flex-end;
}
.avantage>h3{
  background-color: #D7EAE3;
  width:30%;
  text-align: center;
  margin:0;
}
#container_avantages h2{
  text-align: center;
  position: relative;
  z-index:2;
}
#container_avantages h2>span{
  height: 7px;
  width:12%;
  background-color: var(--jaune);
  position: absolute;
  top:27px;
  left:41%;
  z-index:1;
}

/* Transmissions */
.arrow_left.arrow_left_radio,.arrow_right.arrow_right_radio{
  filter:invert(100%) sepia(0%) saturate(1304%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
#slider_transmissions{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slider_transmissions .slide_radio{
  width:85%;
  height:70%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5% 10%;
  position: relative;
  margin-bottom: 3%;
}
#slider_transmissions .slide_radio h2{
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%)translateY(-50%);
  background: linear-gradient(var(--vert_clair3)50%, #fff 50%);
  padding:5px 30px;
  font-size: 2rem;
}
#slider_transmissions .slide_radio p{
  font-size: 1.3rem;
  padding:20px 0;
}
#slider_transmissions .slide_radio h2.souligne.jaune:before{
  width:80%;
  top:42px;
}
#slider_transmissions .slide_radio_img_text img, #slider_transmissions .slide_radio_text_slider img{
  max-width:100%;
  max-height:75%;
}
.slide_radio_img img{
  max-width:100%;
  max-height:100%;
}

.arrow_inside_left,.arrow_inside_right{
  width:30px;
  height:30px;
  position:absolute;
}
.arrow_inside_left{
  top:60px;
  left:50%;
}
.arrow_inside_right{
  bottom:15px;
  left:50%;
  transform: rotate(180deg);
}

.title_radio{
  width:100%;
  height:calc(100% - 60px);
  background-color: #fff;
  z-index:10;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}
.title_radio h2{
  font-size: 3rem;
  margin-top:10vh;
  max-width: 60vw;
}
.title_radio h2.souligne:before{
  top:58px;
}
.title_radio span{
  font-size: 2rem;
  font-weight: bold;
}